* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --accent-clr: hsl(5, 85%, 63%);
  --complement-clr: hsl(35, 77%, 62%);
  --neutral-clr-100: hsl(36, 100%, 99%); /*off-white*/
  --neutral-clr-500: hsl(233, 8%, 79%); /*grayish-blue*/
  --neutral-clr-700: hsl(236, 13%, 42%); /*dark grayish blue*/
  --neutral-clr-900: hsl(240, 100%, 5%); /*very dark graying blue*/
  --font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
}
a {
  font-family: var(--font-family);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: var(--font-family);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
#top-logo img {
  width: 45px;
}
.menu-btn-wrapper {
  text-align: right;
}
.menu-btn:hover {
  cursor: pointer;
}
nav ul.menu-list {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 68%;
  padding: 28px 25px;
  background: var(--neutral-clr-100);
  visibility: hidden;
  transition: all 250ms ease-in-out;

  & > div:last-child {
    margin-top: 90px;
    display: grid;
    gap: 35px;
  }

  & li a {
    font-size: 1.125rem;
    color: var(--neutral-clr-900);

    &:hover {
      color: var(--accent-clr);
    }
  }
}
.activeMenu {
  visibility: visible !important;
  right: 0 !important;
}
.void-menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  height: 100vh;
  background: var(--neutral-clr-900);
  opacity: 0.5;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.active-void-menu {
  visibility: visible !important;
}
.main-container {
  margin: 28px 16px 75px 16px;
}
.big-news img {
  width: 100%;
  margin-bottom: 28px;
}
h1 {
  max-width: 13ch;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--neutral-clr-900);
}
.big-news div > p {
  margin-bottom: calc(
    28px + 14px
  ); /*14px is the top padding of #read-more-btn*/
  color: var(--neutral-clr-700);
}
p {
  font-size: 0.9375rem;
  line-height: 1.5;
  font-family: var(--font-family);
}
#read-more-btn {
  /* display: block; */
  padding: 15px 32px;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  font-size: 0.9375rem;
  background: var(--accent-clr);
  color: var(--neutral-clr-100);
  font-weight: 700;

  &:hover {
    background: var(--neutral-clr-900);
  }
}
#latest-news {
  margin: calc(64px + 14px) 0 64px 0; /*14px is the top padding of #read-more-btn*/
  background: var(--neutral-clr-900);
  padding: 30px 22px;

  & h2 {
    margin-bottom: 42px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--complement-clr);
  }
}
#latest-news ul {
  display: grid;
  gap: 72px;

  & a {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--neutral-clr-100);

    &:hover {
      color: var(--complement-clr);
    }
  }
  & p {
    display: block;
    margin-top: 15px;
    max-width: 39ch;
    color: var(--neutral-clr-500);
  }
  & li {
    position: relative;

    &:not(:last-child)::after {
      position: absolute;
      bottom: -55%;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: var(--neutral-clr-700);
    }
  }
}
#top-news {
  display: grid;
  gap: 32px;

  & img {
    width: 100px;
  }
}
#top-news article {
  display: flex;
  gap: 24px;
}
#top-news article > div {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  & div {
    font-size: 2rem;
    font-weight: 700;
    color: var(--neutral-clr-500);
  }

  & a {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--neutral-clr-900);

    &:hover {
      color: var(--accent-clr);
    }
  }

  & p {
    color: var(--neutral-clr-700);
  }
}

@media (width >= 769px) {
  .main-container {
    margin: 45px 10% 65px 10%;
  }
  header {
    margin-bottom: 54px;
  }
  .menu-btn {
    display: none;
  }
  nav ul.menu-list {
    position: static;
    visibility: visible;
    padding: 0;

    & > div:last-child {
      margin-top: 0;
      display: flex;
    }

    & li a {
      font-size: 0.9375rem;
    }
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "big-news big-news latest-news" "top-news top-news top-news";
    column-gap: 32px;
    row-gap: 70px;
  }
  .big-news {
    display: block;
    grid-area: big-news;

    & img {
      margin-bottom: 32px;
    }
    & > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
      }
    }
  }
  h1 {
    max-width: 10ch;
    font-size: 3.5rem;
  }
  #latest-news {
    margin: 0;
    grid-area: latest-news;

    & h2 {
      font-size: 2.45rem;
    }
  }
  #top-news {
    grid-area: top-news;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1440px) {
  .main-container {
    margin: 85px 11% 125px 11%;
  }
}
